<section class="hourcontainer">
  <h1 class="text-center">Hourly Sales</h1>
  <div class="img">
    <img src="./assets/img/Flow-3 (1).png" alt="" />
  </div>
  <p>Sales by Station</p>
  <div class="values ">
    <div class="top">
      <div class="left">
        <img src="./assets/img/gas-station-svgrepo-com.svg" alt="">
        <p class="m-0" > Station Name </p>
      </div>
      <div class="right">
        <p class="m-0" > 62,721 </p>
      </div>
    </div>
    <div class="bottom">
      <div class="prec"></div>
    </div>
  </div>
  <div class="values ">
    <div class="top">
      <div class="left">
        <img src="./assets/img/gas-station-svgrepo-com.svg" alt="">
        <p class="m-0" > Station Name </p>
      </div>
      <div class="right">
        <p class="m-0" > 62,721 </p>
      </div>
    </div>
    <div class="bottom">
      <div class="prec"></div>
    </div>
  </div>
  <div class="values ">
    <div class="top">
      <div class="left">
        <img src="./assets/img/gas-station-svgrepo-com.svg" alt="">
        <p class="m-0" > Station Name </p>
      </div>
      <div class="right">
        <p class="m-0" > 62,721 </p>
      </div>
    </div>
    <div class="bottom">
      <div class="prec"></div>
    </div>
  </div>
</section>
