<section class="sammary" >
  <div class="cards">

    <a class="card">
      <div class="price">
        <p>71.028</p>
        <span class="text-uppercase">Egp</span>
      </div>
      <div class="title">
        Total Value
      </div>
      <div class="precentage colorRed">
        <p>2%</p>
      </div>
    </a>



    <a class="card">
      <div class="price">
        <p>20,000</p>
        <span class="upperNum ">m</span>

      </div>
      <div class="title">
        Total Sales
      </div>
      <div class="precentage colorBlue ">
        <p>50 m</p>
      </div>
    </a>


    <a class="card">
      <div class="price">
        <p>20,000</p>
        <span class="upperNum">m</span>
      </div>
      <div class="title">
        Avg Sales
      </div>
      <div class="precentage colorRed">
        <p>50 m</p>
      </div>
    </a>

    <a class="card">
      <div class="price">
        <p>1567</p>
        <!-- <span class="text-uppercase">Egp</span> -->
      </div>
      <div class="title brTitle">
        Total Transaction Count
      </div>
      <div class="precentage colorBlue">
        <p>20</p>
      </div>
    </a>
  </div>
</section>
