<section class="sidebar">
  <div class="top">
    <a href="" title="home"><img src="./assets/img/PMS.svg" alt=""></a>
  </div>
  <div class="midd">
    <ul>
      <li>
        <a href="#" title="home"><img src="./assets/img/dashboard-apps.svg" alt=""></a>
      </li>
      <li>
        <a href="#" title="home"><img src="./assets/img/control-room.svg" alt=""></a>
      </li>
      <li>
        <a href="#" title="home"><img src="./assets/img/elements.svg" alt=""></a>
      </li>
      <li>
        <a href="#" title="home"><img src="./assets/img/settings.svg" alt=""></a>
      </li>
      <li>
        <a href="#" title="home"><img src="./assets/img/notifications.svg" alt=""></a>
      </li>
    </ul>
  </div>
  <div class="bottom">
    <a href="#" title="home"><img src="./assets/img/logout.svg" alt=""></a>
  </div>
</section>
