<section class="list-component">
  <div class="card">
    <div class="top" >
      <div class="left">
        <img src="./assets/img/gas-station-svgrepo-com.svg" alt="">
        <p class="m-0 p-0" >STATION NAME DUMMY</p>
      </div>
      <div class="more">
        <a href="" title="icon" ><i class="fa-solid fa-ellipsis"></i></a>
      </div>
    </div>
    <div class="details">
      <div class="item">
        <div class="row">
          <div class="col">total Sales</div>
          <div class="col end ">62,721</div>
        </div>
        <div class="row">
          <div class="col">Total Value</div>
          <div class="col end">550</div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col">Compression State</div>
          <div class="col end ">Compression</div>
        </div>
        <div class="row">
          <div class="col">Total Transaction Count</div>
          <div class="col end">5161</div>
        </div>
      </div>


      <div class="item">
        <div class="row">
          <div class="col">Max Transaction / hour</div>
          <div class="col end">20</div>
        </div>
        <div class="row">
          <div class="col  ">Max Transaction Date-Time</div>
          <div class="col end">8-1-2021 | 10:16 PM</div>
        </div>
      </div>

    </div>
  </div>

  <div class="card">
    <div class="top" >
      <div class="left">
        <img src="./assets/img/gas-station-svgrepo-com.svg" alt="">
        <p class="m-0 p-0" >STATION NAME DUMMY</p>
      </div>
      <div class="more">
        <a href="" title="icon" ><i class="fa-solid fa-ellipsis"></i></a>
      </div>
    </div>
    <div class="details">
      <div class="item">
        <div class="row">
          <div class="col">total Sales</div>
          <div class="col end ">62,721</div>
        </div>
        <div class="row">
          <div class="col">Total Value</div>
          <div class="col end">550</div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col">Compression State</div>
          <div class="col end ">Compression</div>
        </div>
        <div class="row">
          <div class="col">Total Transaction Count</div>
          <div class="col end">5161</div>
        </div>
      </div>


      <div class="item">
        <div class="row">
          <div class="col">Max Transaction / hour</div>
          <div class="col end">20</div>
        </div>
        <div class="row">
          <div class="col ">Max Transaction Date-Time</div>
          <div class="col end">8-1-2021 | 10:16 PM</div>
        </div>
      </div>

    </div>
  </div>


</section>
