<section class="details-container">
  <div class="details" >
    <ul class="d-flex justify-content-end mx-4">
      <li routerLinkActive="active">
        <a routerLink="/graph" class="text-uppercase">
          <i class="fa-solid fa-chart-simple"></i>
          graph</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/list" class="text-uppercase">
          <i class="fa-solid fa-list"></i>
          list</a
        >
      </li>
    </ul>
  </div>
  <router-outlet />
</section>


