<section class="list-component">
  <div class="card">
    <div class="top">
      <div class="left">
        <p class="m-0 p-0">STATION NAME DUMMY</p>
      </div>
      <ul class="more">
        <li ><a  href="">SALES</a></li>
        <li><a href="">TRANSACTION</a></li>
        <li><a href="">VALUE</a></li>
        <li class="active" ><a href="">COMPRESSION</a></li>
      </ul>
    </div>
    <div class="details">
        <div class="img" >
          <img src="./assets/img/Flow-3.png" alt="">
        </div>
        <div class="num">
          <p class="value" >300</p>
          <p class="value" >250</p>
          <p class="value" >200</p>
          <p class="value" >150</p>
          <p class="value" >100</p>
        </div>
        <div class="stationName">
          <p class="m-0 ">STATION NAME DUMMY</p>
          <p class="m-0 ">STATION NAME DUMMY</p>
          <p class="m-0 ">STATION NAME DUMMY</p>
          <p class="m-0 ">STATION NAME DUMMY</p>
          <p class="m-0 ">STATION NAME DUMMY</p>
        </div>
    </div>
  </div>
</section>
